* {
    padding: 0;
    margin: 0;
    /* font-family: "Jost", sans-serif; */
    font-family: "Quicksand", sans-serif;
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;

    background: linear-gradient(45deg, #b8fff0, #e2f2ca, #ffcded);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

html,
body {
    font-size: 62.5%;
    height: 100%;
}

html {
    background: #eee;
}

.box {
    width: 30vw;
    height: 60vh;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, 0.2);
    background: #a5bbdd;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    min-width: 20rem;
    min-height: 35rem;
}

.wave {
    opacity: 0.3;
    position: absolute;
    top: 110%;
    left: 45%;
    background: white;
    width: 70rem;
    height: 70rem;
    margin-left: -30rem;
    margin-top: -25rem;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 4000ms infinite linear;
    z-index: 1;
}

.wave.-three {
    animation: drift 7000ms infinite linear;
    z-index: 2 !important;
    opacity: 0.2;
}

.wave.-two {
    animation: drift 9000ms infinite linear;
    opacity: 0.1;
    z-index: 3 !important;
}

.box:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    transform: translate3d(0, 0, 0);
}

@keyframes drift {
    from {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}

.info {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45%;
    z-index: 4;
}

.location {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
}

.fa-street-view {
    animation: rotates 3s linear infinite alternate;
}

.location .fas {
    font-size: 3rem;
}

@keyframes rotates {
    from {
        transform: translateX(-0.5rem);
    }

    to {
        transform: translateX(0.5rem);
    }
}

#date {
    text-align: center;
    margin-top: 0.5rem;
    color: #11151e;
    font-size: 1.4rem;
    font-weight: 300;
    text-transform: uppercase;
}

.temp {
    margin-top: 2.5rem;
    text-align: center;
    font-size: 3rem;
}

.temp_min_max {
    text-align: center;
    margin-top: 0.3rem;
    font-weight: 300;
    font-size: 1.5rem;
    color: #11161e;
}

#weathercon {
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

#weathercon .fas {
    font-size: 10rem;
    animation: fas-anime 3s linear infinite alternate;
}

@keyframes fas-anime {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1.5);
    }
}

@media (max-width: 600px) {
    .box {
        width: 90vw;
        height: 80vh;
    }

    .wave {
        top: 85%;
    }

    #weathercon {
        font-size: 5em;
    }

    .info {
        font-size: 1.5rem;
    }
}

@media (max-height: 500px) {
    .box {
        height: 80vh;
    }

    .wave {
        top: 115%;
    }
}

body>span {
    width: 100vw;
    text-align: center;
    color: grey;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.search input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    transition: border-color 0.3s ease-in-out;
}

.search input:focus {
    border-color: #00ff22;
    outline: none;
}

.search button {
    padding: 7.5px 10px 5px 10px;
    font-size: 17px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.search button:hover {
    background-color: #45a049;
}

.search button:active {
    transform: scale(0.95);
}